.parent{
    height:700px;
    width:1500px;
    border:3px solid black;
    
}
 
.sky{
    height:200px;
    width:1500px;   
  
}

.road{
    height:250px;
    width:1500px;
    background-color: black;
    position:absolute;
    bottom:0;
}

.rect{
    width:150px;
    height:100px;
    background-color:darkred;
    position: relative;
    top:200px;
    left:150px;
}
.c1{
    height:40px;
    width:50px;
    background-color: rgb(0, 145, 255);
    border: 1px solid black;
    border-radius: 100px 0px 0px 100px;
    position:absolute;
    right:0;
}

.c2{
    height:40px;
    width:50px;
    background-color: rgb(0, 145, 255);
    border: 1px solid black;
    border-radius: 100px 0px 0px 100px;
    position:absolute;
    right:0;
    top:40px;

}



.div1{
    height:150px;
    width:200px;
    background-color: skyblue;
    float:left;
    border-radius: 0px 0px 100px 50px;
}

.div2,.div7{
    height:120px;
    width:170px;
    background-color: skyblue;
    float: left;
    border-radius: 0px 0px 70px 60px;
    
}
.div3,.div8{
    height:140px;
    width:150px;
    background-color: skyblue;
    float:left;
    border-radius: 0px 0px 100px 100px;
}

.div4{
    height:100px;
    width:100px;
    background-color: skyblue;
    float:left;
    border-radius: 0px 0px 50px 50px;
}

.div5,.div6{
    height:100px;
    width:150px;
    background-color: skyblue;
    float:right;
    border-radius: 0px 0px 60px 60px;
}

.div9,.div10{
    height:100px;
    width:130px;
    border-radius: 0px 0px 60px 60px;
    float: left;
    background-color: skyblue;

}
/*.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background: repeating-linear-gradient(
        to right,
        white 0,
        white 50px,
        black 100px,
        black 40px
    );
}

.carrect{
    height:80px;
    width:300px;
    background-color: red;
    margin-left:80px;
}

.car-wheels {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 0 100px;
}

.wheel {
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    margin-left: 60px;
    
}*/
.sun{
    height:120px;
    width:120px;
    border-radius: 100px 100px 100px 100px;
    background-color: orange;
    position:absolute;
    top:50px;
    left:1000px;
    box-shadow: 0px 0px 15px yellow;

}

.car{
    width:300px;
    height:90px;
    background-color: red;
    position:relative;
    left:80px;
}

.wheels{
    height:70px;
    width:400px;
}

.wheel1{
    height:70px;
    width:60px;
    border-radius: 100%;
    background-color: grey;
    border:2px solid white;
    position:absolute;
    left:100px;
    top:70px;
}
.wheel2{
    height:70px;
    width:60px;
    border-radius: 100%;
    background-color: grey;
    border:2px solid white;
    position: absolute;
    left:250px;
    top:70px;
}

.line{
    height:30px;
    width:1500px;
    
}

.line1{
    height:30px;
    width:150px;
    background-color: white;
}
.line2{
    height:30px;
    width:150px;
    background-color: white;
    position:absolute;
    left:200px;
    top:160px;
}
.line3{
    height:30px;
    width:150px;
    background-color: white;
    position:absolute;
    left:400px;
    top:160px;
}

.line4{
    height:30px;
    width:150px;
    background-color: white;
    position:absolute;
    left:600px;
    top:160px;
}

.line5{
    height:30px;
    width:150px;
    background-color: white;
    position:absolute;
    left:800px;
    top:160px;
}
.line6{
    height:30px;
    width:150px;
    background-color: white;
    position:absolute;
    left:1000px;
    top:160px;
}

.line7{
    height:30px;
    width:150px;
    background-color: white;
    position:absolute;
    left:1200px;
    top:160px;
}

.line8{
    height:30px;
    width:100px;
    background-color: white;
    position:absolute;
    left:1400px;
    top:160px;
}